#node_modules

back-end/node_modules
cryptwallet
cryptwallet-admin
react-documantation

#build
back-end/dist

#Misc
back-end/config
back-end/detail.txt
back-end/figjam.pem
back-end/figjam.ppk

back-end/package-lock.json
back-end/yarn.lock

cryptwallet/package-lock.json
cryptwallet/yarn.lock

cryptwallet-admin/package-lock.json
cryptwallet-admin/yarn.lock
